body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light Gray background */
}

header {
  background-color: transparent; /* Remove background color */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
}

#menu-toggle {
  background-color: #f09849; /* Orange button */
  color: #fff; /* White text */
  border: none;
  padding: 10px 15px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-weight: bold;
}

#menu-toggle:hover {
  background-color: #e0853d; /* Darker orange on hover */
}

nav#navigation {
  display: none; /* Initially hide navigation */
  position: absolute; /* Absolute positioning */
  top: 100%; /* Position below header */
  left: 0; /* Align to left side */
  width: 100%; /* Full width */
  background-color: #fff; /* White background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 10px;
  z-index: 1; /* Ensure navigation appears above other content */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: block; /* Change to block for vertical display */
  margin: 10px 0;
}

nav a {
  color: #333; /* Dark gray text for links */
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #f09849; /* Orange on hover */
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.services {
  background-color: #e0e0e0; /* Light gray for services */
}

.success {
  background-color: #bfefff; /* Light blue for success stories */
}

.cta {
  background-color: #f09
