body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('background_photo.jpg'); /* Add background image */
    background-size: cover; /* Ensure background image covers the entire viewport */
}

header {
    background-color: #26a69a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8); /* Add background color with transparency */
    border-radius: 10px; /* Add border radius for sections */
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-photo {
    display: inline-block;
    vertical-align: middle;
}

.service-column {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    vertical-align: top;
}

.pricing-plan {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.pricing-plan h3 {
    color: #26a69a;
}

.pricing-plan p {
    font-weight: bold;
}

footer {
    background-color: #26a69a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
