body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff; /* Default text color */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('background_photo.jpg'); /* Background image */
    background-size: cover;
}

header {
    background-color: rgba(38, 166, 154, 0.8); /* Header background color */
    padding: 20px;
    text-align: right; /* Right-align navigation links */
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff; /* Navigation link color */
    text-decoration: none;
}

section {
    padding: 40px;
    margin: 40px auto; /* Add margin for spacing between sections */
    border-radius: 10px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center; /* Center section headings */
}

.services-container {
    display: block;
}

.pricing-plan {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    max-width: 1000px; /* Set the maximum width */
    margin: 0 auto 20px; /* Center the boxes horizontally and add margin bottom */
}

.pricing-plan p {
    font-weight: bold;
    color: #fff; /* Pricing plan text color */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Add margin top */
}

.pricing-plan h3 {
    color: #26a69a; /* Pricing plan title color */
}

.pricing-plan p {
    font-weight: bold;
    color: #fff; /* Pricing plan text color */
}

.pricing-plan p span {
    color: #26a69a; /* Change color of the separator */
}

footer {
    background-color: rgba(38, 166, 154, 0.8); /* Footer background color */
    padding: 20px;
    text-align: center; /* Center text in footer */
}

footer p {
    margin: 0;
}

#company-name {
    text-align: center; /* Center company name */
    margin-top: 50px;
}

#company-name h1 {
    font-size: 48px; /* Company name font size */
    color: #FFA500; /* Company name text color */
}

#company-name h2 {
    color: #26a69a; /* Slogan text color */
}

.contact-info {
    margin-top: 20px;
    text-align: center; /* Center contact info */
}

.contact-info p {
    color: #fff; /* Contact info text color */
}

.about-text {
    width: 50%; /* Reduce width of about text */
    margin: auto; /* Center about text */
}
